# React Native
node_modules/
.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.keystore
!debug.keystore

# iOS
ios/build/
ios/Pods/
*.xcworkspace
!default.xcworkspace
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Debugging
*.log
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Smart contracts
contracts/artifacts/
contracts/cache/
contracts/typechain-types/

# Mopro artifacts
src/mopro/artifacts/
src/mopro/build/
*.r1cs
*.wasm
*.zkey

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
tmp/
temp/
